[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./DIAMETER_Tests.default"

# Local configuration below

[LOGGING]

[TESTPORT_PARAMETERS]

[MODULE_PARAMETERS]
#DIAMETER_Tests.mp_client := { "192.168.100.1", 62324, "", -1}

[MAIN_CONTROLLER]

[EXECUTE]
DIAMETER_Tests.control
