[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./BSC_Tests.default"

# Local configuration below

[LOGGING]
*.ConsoleMask := LOG_ALL | TTCN_MATCHING;
*.FileMask := LOG_ALL | TTCN_MATCHING;

[TESTPORT_PARAMETERS]

[MODULE_PARAMETERS]
BSC_Tests.mp_bssap_cfg := {
	{
		transport := BSSAP_TRANSPORT_SCCPlite,
		sccp := {
			transport := SCCP_TRANSPORT_SCCPlite,
			tpars := {
				sccplite := {
					tcp_addr := { 5000, "127.0.0.1", 4000, "" },
					tcp_is_server := true,
					ipa_ccm_pars := omit
				}
			},
			sccp_service_type := "mtp3_itu",
			own_pc := 185,	# 0.23.1 first MSC emulation
			own_ssn := 254,
			peer_pc := 187, # 0.23.3 osmo-bsc
			peer_ssn := 254,
			sio := '03'O, # NI=International, SI=SCCP
			rctx := 0
		}
	}
};
BSC_Tests.mp_enable_lcs_tests := false;

[MAIN_CONTROLLER]

[EXECUTE]
BSC_Tests.control
BSC_Tests_2.control
