[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./BSC_Tests.default"

# Local configuration below

[LOGGING]

[TESTPORT_PARAMETERS]

[MODULE_PARAMETERS]

[MAIN_CONTROLLER]

[EXECUTE]
BSC_Tests.control
BSC_Tests_LCLS.control
BSC_Tests_CBSP.control
BSC_Tests_ASCI.control
#BSC_Tests_OML.control
