
# openssl EUM certificate creation configuration file


authorityKeyIdentifier=keyid, issuer
subjectKeyIdentifier=hash
keyUsage=critical, keyCertSign
certificatePolicies=critical,2.23.146.1.2.1.2   #OID id-rspRole-eum
subjectAltName=RID:2.999.5
basicConstraints=critical,CA:TRUE, pathlen:0
crlDistributionPoints=URI:http://ci.test.example.com/CRL-B.crl

nameConstraints=critical,DER:30:32:A0:30:30:2E:A4:2C:30:2A:31:15:30:13:06:03:55:04:0A:0C:0C:52:53:50:20:54:65:73:74:20:45:55:4D:31:11:30:0F:06:03:55:04:05:13:08:38:39:30:34:39:30:33:32



#
# TBSCertificate 
#0000: 30 82 02 7c				; SEQUENCE 
#0004:    30 82 02 21				; SEQUENCE 
#0008:    |  a0 03				; OPTIONAL[0]
#000a:    |  |  02 01 02			; INTEGER                  - Version = 2(log. 3)
#...
#0120:    |  a3 82 01 05			; OPTIONAL[3]              - Extensions : tag = [3]
#0124:    |     30 82 01 01 			; SEQUENCE                 -  OF Extension
#                  ...
#01e9:    |        30 3e			; SEQUENCE 
#01eb:    |           06 03 55 1d 1e		; OBJECT_ID                - 2.5.29.30 Name Constraints
#01f0:    |           01 01 ff			; BOOL                     - critical=TRUE
#01f3:    |           04 34			; OCTET_STRING             - extnValue(CONTAINING NameConstraints)
# -------------------------------------DER input data ----------------------------------------------------------------------------------
#01f5:    |              30 32			; SEQUENCE                 - NameConstraints
#01f7:    |                 a0 30		; OPTIONAL[0]              - permittedSubtrees : tag = [0]
#01f9:    |                    30 2e		; SEQUENCE                 - GeneralSubtrees of GeneralSubtree
#01fb:    |                          a4 2c	; OPTIONAL[4]              - base GeneralName CHOICE directoryName : tag = [4]
#01fd:    |                          |  30 2a	; SEQUENCE 		   - Name CHOICE rdnSequence RDNSequence 
#01ff:    |                          |     31 15	; SET              - RelativeDistinguishedName
#0201:    |                          |        30 13	; SEQUENCE         - AttributeTypeAndValue
#0203:    |                          |        |  06 03	; OBJECT_ID         - AttributeType
#0205:    |                          |        |  |  55 04 0a                -  2.5.4.10 Organization (O)
#0208:    |                          |        |  0c 0c	; UTF8_STRING       - AttributeValue
#020a     |                                             52 53 50 20 74 65 73 74 65 75 4D - RSP Test EUM
#0216     |                                31 11                                          
#0218:    |                                   30 0f	; SEQUENCE 
#021a:    |                                      06 03	; OBJECT_ID         - AttributeType
#021c:    |                                      |  55 04 05                -  2.5.4.5 Serial Number (SERIALNUMBER)
#021f:    |                                      13 08	; PRINTABLE_STRING  - AttributeValue
#0221:    |                                         38 39 30 34 39 30 33 32 -  89049032
#
#--------------------------------------------------------------------------------------------------------------------------------
#0229:    30 0a					; SEQUENCE (a Bytes)
#...

          