deps/*/
*.o
*.log
!expected-results.log
*.so
compile
*/.gitignore
*.cc
*.hh
!library/*.cc
!library/*.hh
*/*Test
*/*_Tests
selftest/Selftest
*/Makefile
!bin/Makefile
!deps/Makefile
.*.sw?
*.netcat.stderr
*.d
