[LOGGING]
SourceInfoFormat := Single;
#FileMask := LOG_ALL | TTCN_DEBUG | TTCN_MATCHING | DEBUG_ENCDEC;
#ConsoleMask := ERROR | WARNING | TESTCASE | TTCN_MATCHING | DEBUG_ENCDEC
FileMask := LOG_ALL | TTCN_MATCHING;

BSSAP.FileMask := LOG_NOTHING;
"MSC_Test-M3UA".FileMask := ERROR | WARNING;
"MSC_Test-SCCP".FileMask := ERROR | WARNING;
"MSC_Test-GSUP-IPA".FileMask := ERROR | WARNING;
"MSC_Test-GSUP".FileMask := ERROR | WARNING;
"IPA-CTRL-IPA".FileMask := ERROR | WARNING;

[TESTPORT_PARAMETERS]
#*.*.udpReuseAddress := "yes";

[MODULE_PARAMETERS]
M3UA_Emulation.tsp_logVerbose := true;
BSSAP_Adapter.mp_own_pc := 193;		/* 0.23.3 */
BSSAP_Adapter.mp_peer_pc := 185;	/* 0.23.1 */
BSSAP_Adapter.mp_sctp_addr := { 23906, "127.0.0.1", 2905, "127.0.0.1" };

[MAIN_CONTROLLER]

[EXECUTE]
#MSC_Tests.TC_reset
#MSC_Tests.TC_cmserv_imsi_unknown
#MSC_Tests.TC_lu_imsi_noauth_tmsi
#MSC_Tests.TC_lu_imsi_noauth_notmsi
MSC_Tests.TC_lu_imsi_reject
