[testsuite]
program=BTS_Tests
config=BTS_Tests.cfg

[bsc]
program=osmo-bsc
make=osmo-bsc
package=osmo-bsc
copy=osmo-bsc.cfg

[trx-proxy]
prepare=require_ulimit_r.sh 32
program=osmo-trx-proxy
make=osmo-trx
package=osmo-trx-proxy
copy=osmo-trx-proxy.cfg
# TODO: Remove *_latest after osmo-trx >= 1.9.0 was released
program_latest=run_fake_trx.sh
make_latest=.make.osmocom-bb.clone
package_latest=osmocom-bb-trx-toolkit

[trxcon]
program=trxcon
make=trxcon
package=osmocom-bb-trxcon

[bts]
prepare=require_ulimit_r.sh 30
program=respawn.sh osmo-bts-trx
make=osmo-bts
package=osmo-bts
copy=osmo-bts.cfg
vty_port=4241
