[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./eIM_Tests.default"

# Local configuration below

[LOGGING]

[TESTPORT_PARAMETERS]
system.HTTP_server_port.use_notification_ASPs := "no"
system.HTTP_server_port.KEYFILE := "/home/owner/work/ttcn3/testsuite/osmo-ttcn3-hacks/eim/server.key"
system.HTTP_server_port.CERTIFICATEFILE := "/home/owner/work/ttcn3/testsuite/osmo-ttcn3-hacks/eim/server.crt"
system.HTTP_server_port.PASSWORD := "katinka1"
system.HTTP_server_port.http_debugging := "yes"

[MODULE_PARAMETERS]

[MAIN_CONTROLLER]

[EXECUTE]
eIM_Tests.control
