[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./REMSIM_Tests.default"

[EXECUTE]
RemsimServer_Tests.control
#RemsimBankd_Tests.control
#RemsimClient_Tests.control
