[testsuite]
program=REMSIM_Tests
config=client/REMSIM_Tests.cfg

[remsim-client]
# osmo-remsim-client-shell exits when STDIN closes
program=sleep 3600 | osmo-remsim-client-shell
make=osmo-remsim
package=osmo-remsim-client-shell
