[LOGGING]

[MODULE_PARAMETERS]
mp_local_ip := "192.168.100.239"
mp_local_udp_port := 23000
mp_remote_ip := "192.168.100.196"
mp_remote_udp_port := 21000
mp_nsei := 96

[TESTPORT_PARAMETERS]
#*.BSCVTY.CTRL_MODE := "client"
#*.BSCVTY.CTRL_HOSTNAME := "127.0.0.1"
#*.BSCVTY.CTRL_PORTNUM := "4242"
#*.BSCVTY.CTRL_LOGIN_SKIPPED := "yes"
#*.BSCVTY.CTRL_DETECT_SERVER_DISCONNECTED := "yes"
#*.BSCVTY.CTRL_READMODE := "buffered"
#*.BSCVTY.CTRL_CLIENT_CLEANUP_LINEFEED := "yes"
#*.BSCVTY.PROMPT1 := "OpenBSC> "
#*.BSCVTY.PROMPT2 := "OpenBSC# "
#*.BSCVTY.REGEX_PROMPT1 := "^OpenBSC.*$"

*.*.udpReuseAddress := "yes";

[MAIN_CONTROLLER]

[EXECUTE]
Test.TC_nsem
