[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./SMF_Tests.default"

# Local configuration below

[LOGGING]

[TESTPORT_PARAMETERS]

[MODULE_PARAMETERS]
SMF_Tests.mp_smf_hostname := "127.0.0.4"
SMF_Tests.mp_local_hostname_c := "127.0.0.202"
SMF_Tests.mp_local_hostname_u := "127.0.0.20"
SMF_Tests.mp_pcrf_local_ip:= "127.0.0.202"
SMF_Tests.mp_ocs_local_ip:= "127.0.0.202"
SMF_Tests.mp_aaa_local_ip:= "127.0.0.202"

[MAIN_CONTROLLER]

[EXECUTE]
SMF_Tests.control
