
#eUICC certificate creation configuration
#
# use openssl x509 -req -in eUICC-csr.cnf -CA ..\CERT_EUM_ECDSA_NIST.pem -CAkey ..\SK_EUM_ECDSA_NIST.pem -set_serial 0x020000000000000001 -days 2000000 -sha256 -extfile eUICC-ext.cnf -out CERT_EUICC_ECDSA_NIST.pem 
#

authorityKeyIdentifier=keyid
subjectKeyIdentifier=hash
keyUsage = critical, digitalSignature
certificatePolicies=critical,2.23.146.1.2.1.1  #OID id-rspRole-e




