# openssl-eUICC.cnf
#
# use: openssl req -new -nodes -sha256 -config eUICC-csr.cnf -key SK_EUICC_ECDSA_NIST.pem -out eUICC-csrgennist
#

[req]
prompt = no

distinguished_name  = dn-name
 
[dn-name]
countryName			= ES
organizationName		= RSP Test EUM
serialNumber                    = 89049032123451234512345678901235
commonName			= Test eUICC




