[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./smdpp2_Tests.default"

# Local configuration below

[LOGGING]
SourceInfoFormat := Single
LogEventTypes := Subcategories
LogEntityName := Yes

[TESTPORT_PARAMETERS]
system.HTTP_server_port.KEYFILE := "../ipad/example_ca/pki/private/alttest.key"
system.HTTP_server_port.CERTIFICATEFILE := "../ipad/example_ca/pki/issued/alttest.crt"

[MODULE_PARAMETERS]

[MAIN_CONTROLLER]

[EXECUTE]
smdpp2_Tests.control
