[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./GGSN_Tests.default"

# Local configuration below

[LOGGING]
*.JUnitLogger.testsuite_name := "osmo-ttcn3-hacks/ggsn_tests"


[TESTPORT_PARAMETERS]

[MODULE_PARAMETERS]
# local T3-RESPONSE timeout, seconds:
GGSN_Tests.mp_t3_response := 1;
# local N3-REQUESTS counter:
GGSN_Tests.mp_n3_requests := 2;

[EXECUTE]
GGSN_Tests.control
