[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./GGSN_Tests.default"

# Local configuration below

[LOGGING]
*.JUnitLogger.testsuite_name := "osmo-ttcn3-hacks/ggsn_tests"


[TESTPORT_PARAMETERS]

[MODULE_PARAMETERS]

[EXECUTE]
