[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./MSC_Tests.default"

# Local configuration below

[LOGGING]

[TESTPORT_PARAMETERS]

[MODULE_PARAMETERS]

[MAIN_CONTROLLER]

[EXECUTE]
MSC_Tests.control
MSC_Tests_Iu.control
MSC_Tests_ASCI.control
