[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./CCID_Tests.default"

# Local configuration below

[LOGGING]
ConsoleMask := ERROR | WARNING | TESTCASE | USER;

[TESTPORT_PARAMETERS]

[MODULE_PARAMETERS]


[MAIN_CONTROLLER]

[EXECUTE]
CCID_Tests.control
